* {
  margin: 0;
  padding: 0;
}
body {
    min-width:630px;
    }
main {
    height:200px;
    font-family:Bookman old style;
}
header {
    background-color:#CC7F00;
    height:100px;
    text-align:center;
    font-family:Bookman old style;
    color:brown;
    }
aside {
    background-color:#FFC360;
    float:left;
    width:20%;
    height:400px;
    font-family:Bookman old style;
    color:brown;
}
article {
    background-color:#FCA81C;
    float:left;
    width:70%;
    height:400px;
    overflow:hidden;
    font-family:Bookman old style;
    text-align: center;
}
nav {
    background-color:#FFC360;
    float:left;
    height:400px;
    width:10%;
    font-family:Bookman old style;
    text-align:center;
    text-decoration:none;
}
footer {
    background-color:#FF6D00;
    text-align: center;
    height:200px;
    font-family:Bookman old style;
    color:brown;
}    
